<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta charSet="utf-8"/>
        <title><%= name ? name : 'Name' %> and <%= partnerName ? partnerName : 'Partner Name' %> &#x27;s Wedding Website - The Knot</title>
        <meta name="description" content="Welcome to <%= name %> and <%= partnerName %>&#x27;s Wedding Website! View photos, directions, registry details and more at The Knot."/>
        <meta name="googlebot" content="noindex,nofollow"/>
        <meta name="robots" content="noindex,nofollow"/>
        <meta property="og:title" content="<%= name ? name : 'Name' %> and <%= partnerName ? partnerName : 'Partner Name' %>&#x27;s Wedding Website - The Knot"/>
        <meta property="og:description" content="Welcome to <%= name ? name : 'Name' %> and <%= partnerName ? partnerName : 'Partner Name' %>&#x27;s Wedding Website! View photos, directions, registry details and more at The Knot."/>
        <meta property="og:image" content=""/>
        <meta property="og:type" content="website"/>
        <link rel="icon" type="image/x-icon" href="https://union.theknot.com/dist/v2/brands/latest/favicon.ico"/>
        <meta name="theme-color" content="#ffffff"/>
        <link href="https://static.regsvcs.theknot.com/wws-registry/static/css/main.css" rel="stylesheet"/>
        <meta name="next-head-count" content="15"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <noscript data-union-html-insert-start=""></noscript>
        <noscript data-union-html-insert-end=""></noscript>
        <link rel="preload" href="https://static.theknot.com/wws-guest-view/_next/static/css/30498a168aaec04a.css" as="style"/>
        <link rel="stylesheet" href="https://static.theknot.com/wws-guest-view/_next/static/css/30498a168aaec04a.css" data-n-g=""/>
        <noscript data-n-css=""></noscript>
    </head>
    <body>
        <div id="__next">
            <div class="css-1oteowz">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@300;400&amp;family=Crimson+Pro:wght@300;400;500&amp;display=swap" media="all"/>
                <div class="css-15378cj">
                    <div class="horizontalLayout homePage css-yvqk3l">
                        <style data-emotion="css hg7388">
                            .css-hg7388 {
                                position: absolute;
                                width: 100%;
                                top: 0;
                                left: 0;
                                z-index: -1;
                                pointer-events: none;
                                height: 0px;
                            }
                        </style>
                        <div id="topFrame" height="0" class="css-hg7388"></div>
                        <style data-emotion="css xdcd7r">
                            .css-xdcd7r {
                                height: 56px;
                                width: 100%;
                            }

                            @media (min-width: 768px) {
                                .css-xdcd7r {
                                    display:none;
                                }
                            }
                        </style>
                        <div class="css-xdcd7r"></div>
                        <style data-emotion="css 1djtsgn">
                            @media (min-width: 768px) {
                                .css-1djtsgn {
                                    display:none;
                                }
                            }
                        </style>
                        <style data-emotion="css 13stbb8">
                            .css-13stbb8 {
                                width: 100%;
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                            }
                        </style>
                        <div class="css-13stbb8">
                            <style data-emotion="css 60g74t">
                                .css-60g74t {
                                    max-width: 100%;
                                    max-height: 120px;
                                    margin-bottom: 20px;
                                    width: 100%;
                                    max-width: 1800px;
                                }

                                @media (min-width: 768px) {
                                    .css-60g74t {
                                        display:none;
                                    }
                                }
                            </style>
                            <picture class="css-60g74t">
                                <source media="(min-resolution: 192dpi) and (min-width: 1280px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_2560.h?ordering=explicit"/>
                                <source media="(min-resolution: 192dpi) and (min-width: 1024px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_2048.h?ordering=explicit"/>
                                <source media="(min-resolution: 192dpi) and (min-width: 768px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 768px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_1536.h?ordering=explicit"/>
                                <source media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcSet="https://media-api.xogrp.com/images/5b6ba426-4da9-4b17-a048-70d099ed6de6~rt_auto-rs_960.h?ordering=explicit"/>
                                <source media="(min-resolution: 144dpi) and (min-width: 1280px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1280px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_1920.h?ordering=explicit"/>
                                <source media="(min-resolution: 144dpi) and (min-width: 1024px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_1536.h?ordering=explicit"/>
                                <source media="(min-resolution: 144dpi) and (min-width: 768px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_1152.h?ordering=explicit"/>
                                <source media="(min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5)" srcSet="https://media-api.xogrp.com/images/5b6ba426-4da9-4b17-a048-70d099ed6de6~rt_auto-rs_720.h?ordering=explicit"/>
                                <source media="(min-width: 1280px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_1280.h?ordering=explicit"/>
                                <source media="(min-width: 1024px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_1024.h?ordering=explicit"/>
                                <source media="(min-width: 768px)" srcSet="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_768.h?ordering=explicit"/>
                                <source srcSet="https://media-api.xogrp.com/images/5b6ba426-4da9-4b17-a048-70d099ed6de6~rt_auto-rs_480.h?ordering=explicit"/>
                                <style data-emotion="css 1ago99h">
                                    .css-1ago99h {
                                        width: 100%;
                                    }
                                </style>
                                <img loading="eager" alt="" src="https://media-api.xogrp.com/images/44375550-311a-434b-8b8b-3cc7f5efa9b8~rt_auto-rs_768.h?ordering=explicit" class="css-1ago99h"/>
                            </picture>
                        </div>
                        <style data-emotion="css wl7yfi">
                            .css-wl7yfi {
                                padding: 0 4% 10px 4%;
                                text-align: center;
                                width: 100%;
                                z-index: 1;
                            }

                            @media (min-width: 768px) {
                                .css-wl7yfi {
                                    display:none;
                                }
                            }
                        </style>
                        <header class="css-wl7yfi">
                            <style data-emotion="css ltr4d6">
                                .css-ltr4d6 {
                                    line-height: 1;
                                    margin: 16px auto;
                                    font-family: Lora;
                                    color: #231f20;
                                    font-size: 46px;
                                    font-weight: 300;
                                    text-transform: uppercase;
                                    letter-spacing: 8px;
                                    padding-top: 180px;
                                    padding-bottom: 20px;
                                }

                                @media (max-width: 640px) {
                                    .css-ltr4d6 {
                                        font-size:calc(46px * 0.75);
                                    }
                                }

                                @media(max-width: 1280px) {
                                    .css-ltr4d6 {
                                        padding-top:160px;
                                    }
                                }

                                @media(max-width: 1024px) {
                                    .css-ltr4d6 {
                                        padding-top:140px;
                                    }
                                }

                                @media(max-width: 768px) {
                                    .css-ltr4d6 {
                                        padding-top:140px;
                                    }
                                }

                                @media(max-width: 600px) {
                                    .css-ltr4d6 {
                                        padding-top:110px;
                                    }
                                }

                                @media(max-width: 500px) {
                                    .css-ltr4d6 {
                                        padding-top:50px;
                                    }
                                }

                                @media(max-width: 400px) {
                                    .css-ltr4d6 {
                                        padding-top:30px;
                                    }
                                }

                                @media(min-width: 1800px) {
                                    .css-ltr4d6 {
                                        padding-top:230px;
                                    }
                                }

                                @media(min-width: 1920px) {
                                    .css-ltr4d6 {
                                        padding-top:250px;
                                    }
                                }

                                @media(min-width: 2200px) {
                                    .css-ltr4d6 {
                                        padding-top:330px;
                                    }
                                }
                            </style>
                            <h1 data-testid="header-couple-names" class="css-ltr4d6"><%= name?name.split(' ')[0]:'Name' %> &amp;<%= partnerName?partnerName.split(' ')[0]:'Partner Name' %></h1>
                            <style data-emotion="css wvvzjh">
                                .css-wvvzjh {
                                    line-height: 1;
                                    margin: 8px 0;
                                    font-family: Crimson Pro;
                                    letter-spacing: 3px;
                                    color: #231f20;
                                    font-size: 18px;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }

                                @media (max-width: 640px) {
                                    .css-wvvzjh {
                                        font-size:calc(18px * 0.75);
                                    }
                                }
                            </style>
                            <div data-testid="header-wedding-date-location" class="css-wvvzjh"><%= weddingDate ? weddingDate : 'Date To Be Announced' %></div>
                        </header>
                        <style data-emotion="css 1jgbffo">
                            .css-1jgbffo {
                                display: none;
                            }

                            @media (min-width: 768px) {
                                .css-1jgbffo {
                                    display:block;
                                }
                            }
                        </style>
                        <style data-emotion="css 1ipozcr">
                            .css-1ipozcr {
                                padding: 0 4% 10px 4%;
                                text-align: center;
                                width: 100%;
                                z-index: 1;
                                display: none;
                            }

                            @media (min-width: 768px) {
                                .css-1ipozcr {
                                    display:block;
                                }
                            }
                        </style>
                        <header class="css-1ipozcr">
                            <h1 data-testid="header-couple-names" class="css-ltr4d6"><%= name?name.split(' ')[0]:'Name' %> &amp;<%= partnerName?partnerName.split(' ')[0]:'Partner Name' %></h1>
                            <div data-testid="header-wedding-date-location" class="css-wvvzjh"><%= weddingDate ? weddingDate : 'Date To Be Announced' %></div>
                        </header>
                        <style data-emotion="css 1rf9dig">
                            .css-1rf9dig {
                                display: block;
                                height: 40px;
                                left: 8px;
                                margin: 0;
                                overflow: hidden;
                                position: fixed;
                                top: 8px;
                                width: 40px;
                                z-index: 19;
                            }

                            @media (min-width: 768px) {
                                .css-1rf9dig {
                                    display:none;
                                }
                            }
                        </style>
                      
                        <style data-emotion="css 2z2po7">
                            .css-2z2po7 {
                                height: 56px;
                                left: 0;
                                position: fixed;
                                top: 0;
                                width: 100%;
                                z-index: 18;
                                background-color: #ffffff;
                            }

                            @media (min-width: 768px) {
                                .css-2z2po7 {
                                    display:none;
                                }
                            }
                        </style>
                       
                    </div>
                </div>
                <style data-emotion="css rzmzie">
                    .css-rzmzie {
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-box-pack: end;
                        -ms-flex-pack: end;
                        -webkit-justify-content: flex-end;
                        justify-content: flex-end;
                        margin-top: auto;
                        position: relative;
                        width: 100%;
                    }
                </style>
                <footer class="css-rzmzie">
                    <style data-emotion="css 10xb0p9">
                        .css-10xb0p9 {
                            letter-spacing: 3.4px;
                            line-height: 1;
                            margin: 52px auto;
                            text-align: center;
                            width: -webkit-fit-content;
                            width: -moz-fit-content;
                            width: fit-content;
                        }
                    </style>
                    <div class="css-10xb0p9">
                        <style data-emotion="css je49ww">
                            .css-je49ww {
                                padding: 0 18px 16px;
                                font-family: Lora;
                                color: #231f20;
                                font-size: 46px;
                                font-weight: 300;
                                text-transform: uppercase;
                                letter-spacing: 8px;
                            }

                            @media (max-width: 640px) {
                                .css-je49ww {
                                    font-size:calc(46px * 0.75);
                                }
                            }
                        </style>
                        <div class="css-je49ww"><%= name?name[0]:'A' %> &amp;<%= partnerName?partnerName[0]:'A' %></div>
                        <style data-emotion="css zwj71l">
                            .css-zwj71l {
                                padding: 20px 18px 0;
                                font-family: Crimson Pro;
                                letter-spacing: 3px;
                                color: #231f20;
                                font-size: 18px;
                                font-weight: 400;
                                text-transform: uppercase;
                                border-top: 1px solid #231f20;
                            }

                            @media (max-width: 640px) {
                                .css-zwj71l {
                                    font-size:calc(18px * 0.75);
                                }
                            }
                        </style>
                        <div class="css-zwj71l"><%= weddingDate ? weddingDate : 'Date To Be Announced' %></div>
                    </div>
                    <style data-emotion="css 1xx28p8">
                        .css-1xx28p8 {
                            line-height: 1.75;
                            font-family: Crimson Pro;
                            letter-spacing: 0px;
                            color: #231f20;
                            font-size: 14px;
                            font-weight: 300;
                            margin: 12px 0;
                            text-align: center;
                        }

                        @media (max-width: 640px) {
                            .css-1xx28p8 {
                                font-size:calc(14px * 0.8333);
                            }
                        }

                        .css-1xx28p8 a {
                            -webkit-text-decoration: underline;
                            text-decoration: underline;
                        }
                    </style>
                </footer>
            </div>
        </div>
</body>
</html>
